.modal-footer {
	border-top: none !important;
}

..modal-header {
	padding: 10px;
}

.removeMargins {
	margin-right:0 !important;
	margin-left:0 !important;
	margin-bottom:0 !important;
}

.linkClick { 
	cursor: pointer;
	color: #0099cc;
}

.heading2 {
	font-size: 22px;
}

.openingsDiv .control-label { 
	text-align: left !important;
}

.sidebar-panel, .sidebar-panel > .brand { 
	background-color: #0099cc !important;
}

.sidebar-panel > nav a {
	color : #fff;
}

.logoText { 
	color : #fff;
	font-size: 22px;
}

.active { 
	background-color: #3f485a; 
}