<div class="panel mb25" data-ng-controller="editAgencyCtrl">
  <div class="panel-body">
    <div class="row no-margin">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">Agency Name</label>
            <div class="col-sm-10">
              <input type="text" ng-model="agency.name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" ng-model="agency.email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Phone Number</label>
            <div class="col-sm-10">
              <input type="text" ng-model="agency.phone_number" class="form-control">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input type="text" ng-model="agency.address" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
              <input type="text" ng-model="agency.city" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
              <input type="text" ng-model="agency.state" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Zip Code</label>
            <div class="col-sm-10">
              <input type="text" ng-model="agency.zip" class="form-control">
            </div>
          </div>
                    <div class="wizard-pager">
            <div class="pull-right">
               <button class="btn btn-primary btn-xs" data-ng-click="updateAgency(agency)">Update</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>

