<div class="row" data-ng-controller="candidateUploadCtrl">
<div class="row" >
	<div class="panel mb25 col-lg-3 col-sm-12" style="background: transparent;">
		<div class="panel-body" style="margin:0px 5px;background: #fff;">
		    <div class="row no-margin">
		      <div class="col-lg-12">
		        <form class="form-horizontal" role="form">

		          <div clas="row">
			         	<div class="col-lg-12 text-center">
		          			<img src="images/profileImg.png"/>
		          		</div>
					</div>

		          <div clas="row">
			         	<div class="col-lg-12 text-center" style="margin-top:7px;font-size:20px;">
		          			<span ng-model="profileObj.first_name" >
				              {{profileObj.first_name +' '+ profileObj.last_name}}
				            </span>
		          		</div>
					</div>

					<div clas="row">
			         	<div class="col-lg-12 text-center" style="margin-top:7px;font-size:15px;">
		          			<span ng-model="profileObj.first_name" >
				              {{profileObj.email }}
				            </span>
		          		</div>
					</div>

					<div clas="row">
			         	<div class="col-lg-12 text-center" style="margin-top:7px;font-size:15px;">
		          			<span ng-model="profileObj.first_name" >
				              {{profileObj.phone_number }}
				            </span>
		          		</div>
					</div>

		        </form>
		      </div>
		    </div>
		  </div>
	</div>

	<div class="panel mb25 col-lg-9 col-sm-12" style="background: transparent;">
		<div class="panel-body" style="margin:0px 5px;background: #fff;">
		    <div class="row no-margin">
		      <div class="col-lg-12">
		        <form class="form-horizontal" role="form">
		          <label class="heading2">Assigned Openings {{ candidateJobs.length }}</label>
		          <button class="btn btn-primary btn-xs pull-right" ng-show="user.role.id==4" data-ng-click="assignOpening()">Assign another Opening</button>

		            <table class="table table-hover table-condensed align-middle">
				        <tr class="bold">
				          <td style="width:15%">JOB NAME</td>
				          <td style="width:15%">STAGE</td>
				          <td style="width:25%">COMPANY</td>
				          <td style="width:15%">CANDIDATE/JOB RATE</td>
				        </tr>
				        <tr ng-repeat="jobs in candidateJobs">
				          <td>
				            <!-- editable username (text with validation) -->
				            <span e-name="jobName" e-form="rowform" e-required class="linkClick" ng-click="openingDetails({{jobs.job.id}})">
				              {{ jobs.job.title || 'empty' }}
				            </span>
				          </td>
				          <td>
				            <!-- editable status (select-local) -->
				            <span e-name="stage" e-form="rowform">
				              {{ jobs.stage }}
				            </span>
				          </td>
				          <td>
				            <!-- editable group (select-remote) -->
				            <span e-name="company" e-form="rowform">
				              {{ jobs.company.name}}
				            </span>
				          </td>
				          <td>
				            <!-- editable group (select-remote) -->
				            <span e-name="jobRate" e-form="rowform">
				              {{ jobs.job.bill_rate}}
				            </span>
				          </td>

				          <td style="white-space: nowrap">            
				            <span e-name="jobName" e-form="rowform" e-required class="linkClick" ng-click="changeStage({{jobs.job.id}})">
				              Change Stage
				            </span>
				          </td>
				        </tr>
				      </table>
		        </form>
		      </div>
		    </div>
		  </div>
	</div>
</div>
	<div class="row" >
		<div class="panel mb25 col-lg-6 col-sm-12" style="background: transparent;">
			  <div class="panel-body" style="margin:0px 5px;background: #fff;">
			    <div class="row no-margin">
			      <div class="col-lg-12">
			        <form class="form-horizontal" role="form">
			           	<label class="heading2">Documents</label>
			          	<button class="btn btn-primary btn-xs pull-right" ng-show="user.role.id==2" data-ng-click="uploadDocument()">Upload a Document</button>
			          	<div class="table-responsive">
			          		<table  class="table table-striped mb0">
			          			<tr>
			          				<td style="width:15%">TTILE</td>
                  					<td style="width:15%">DATE</td>
			          			</tr>
			          			<tr>
			          				<td>{{documents.title}}</td>
                  					<td>{{documents.updated}}</td>
			          			</tr>
			          		</table>
			          	</div>
			        </form>
			      </div>
			    </div>
			  </div>
		</div>

		<div class="panel mb25 col-lg-6 col-sm-12" style="background: transparent;">
			  <div class="panel-body" style="margin:0px 5px;background: #fff;">
			    <div class="row no-margin">
			      <div class="col-lg-14">
			        <form class="form-horizontal" role="form">
			        	<label class="heading2">Skills and Experience(yrs)</label>
			          <div clas="row">
			          	<div class="col-lg-12" ng-repeat="skill in skills">
		          			<span>
				              {{ skill.skill }}  -  {{ skill.experience }} yrs 
				            </span>
			          	</div>
			          </div>	
          			  <div clas="row">
	          			  <div class="col-lg-4">
							<input type="text" ng-model="skill" class="form-control" id="emailfield" name="emailfield">
	          	          </div> 
	          	          <div class="col-lg-2" style="margin-left:-10px;">
			                  <input type="text" ng-model="exp" class="form-control"/>
			                </div>
	          	          <div class="col-lg-2">
	          	          	 <button class="btn btn-primary btn-xs pull-right" ng-show="user.role.id==2" data-ng-click="addMoreSkills()">Add Skill</button>
	          	          </div> 
          			  </div>
			          	   
			        </form>
			      </div>
			    </div>
			  </div>
		</div>
	</div>

	<div class="row" >
	<div class="panel mb25 col-lg-12 col-sm-12" style="background: transparent;">
		<div class="panel-body" style="margin:0px 5px;background: #fff;">
		    <div class="row no-margin">
		      <div class="col-lg-12">
		        <form class="form-horizontal" role="form">
		        	<label class="heading2">History</label>
		            <table class="table table-hover table-condensed align-middle">
				        <tr class="bold">
				          <td style="width:15%">Job Title</td>
				          <td style="width:15%">From Stage</td>
				          <td style="width:25%">To Stage</td>
				          <td style="width:15%">Changed By</td>
				          <td style="width:15%">Date</td>
				        </tr>
				        <tr ng-repeat="history in candidateJobsHistory">
				          <td>
				            <!-- editable username (text with validation) -->
				            <span e-name="jobName" e-form="rowform">
				              {{ history.job.title }}
				            </span>
				          </td>
				          <td>
				            <!-- editable status (select-local) -->
				            <span e-name="stage" e-form="rowform">
				              {{ history.from_stage }}
				            </span>
				          </td>
				          <td>
				            <!-- editable group (select-remote) -->
				            <span e-name="company" e-form="rowform">
				              {{ history.to_stage}}
				            </span>
				          </td>
				          <td>
				            <!-- editable group (select-remote) -->
				            <span e-name="jobRate" e-form="rowform">
				              {{ history.user.first_name || ''}}
				            </span>
				          </td>

				          <td style="white-space: nowrap">            
				            <span e-name="jobRate" e-form="rowform">
				              {{ history.date.date}}
				            </span>
				          </td>
				        </tr>
				      </table>
		        </form>
		      </div>
		    </div>
		  </div>
	</div>
</div>


</div>
