<div class="row" data-ng-controller="candidateBasicInfoCtrl">
  <div class="panel-body col-lg-8 col-xs-12" ng-show="requestType == 'create'">
    <div class="row no-margin">
      <div class="col-lg-12">
        <form id="candidateForm" class="form-horizontal" role="form" ui-jq="validate" ui-options="validationOpt">
          <div class="form-group">
            <label class="col-sm-2 control-label">PHONE</label>
            <div class="col-sm-10">
              <input type="number" ng-model="profileObj.phone_number" class="form-control" required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">EMAIL ADDRESS</label>
            <div class="col-sm-10">
              <input type="text" ng-model="profileObj.email" class="form-control" id="emailfield" name="emailfield" required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">FIRST NAME</label>
            <div class="col-sm-10">
              <input type="text" ng-model="profileObj.first_name" class="form-control" id="first_name" name="first_name" required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">LAST NAME</label>
            <div class="col-sm-10">
              <input type="text" ng-model="profileObj.last_name" class="form-control" required="true" id="last_name" name="last_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">ADDRESS</label>
            <div class="col-sm-10">
              <input type="text" ng-model="profileObj.address1" class="form-control" required="true" id="address1" name="address1">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">CITY</label>
            <div class="col-sm-10">
              <input type="text" ng-model="profileObj.city" class="form-control" required="true" id="city" name="city">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">STATE</label>
            <div class="col-sm-10">
              <input type="text" ng-model="profileObj.state" class="form-control" required="true" id="state" name="state">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">ZIP CODE</label>
            <div class="col-sm-10">
              <input type="text" ng-model="profileObj.zip" class="form-control" required="true" id="zip" name="zip">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">SUMMARY</label>
            <div class="col-sm-10">
              <textarea class="form-control" ng-model="profileObj.summary" rows="3"></textarea>
            </div>
          </div>
          <div class="wizard-pager">
            <div class="pull-right">
               <button class="btn btn-primary btn-xs" data-ng-click="createProfile()">{{profileBtn}}</button>
            </div>
        </div>
        <div class="form-group">
            <a ui-sref="app.candidates" class="btn btn-primary btn-xs">Back To List</a>
            
         </div>
        </form>
      </div>
    </div>
  </div>

  <div class="panel-body  col-lg-4 col-xs-12" ng-show="requestType == 'create'">
    <div class="row no-margin">
      <div class="col-lg-12">
        <form id="candidateForm1" class="form-horizontal" role="form"  ui-jq="validate" ui-options="validationOpt">
          <h3 class="text-center">Job Interests & Billing Info</h3>
          <div class="form-group">
            <label class="col-sm-4 control-label">SALARY</label>
            <div class="col-sm-8">
              <input type="number" ng-model="profileObj.salary" class="form-control" required="true" id="salary" name="salary">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">SALARY RANGE</label>
            <div class="col-sm-8">
              <input type="number" ng-model="profileObj.salary_range" class="form-control" required="true" id="salary_range" name="salary_range">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Total YRS. OF EXPERIENCE</label>
            <div class="col-sm-8">
              <input type="number" ng-model="profileObj.experience" class="form-control" required="true" id="experience" name="experience">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">LOOKING FOR A POSITION WITHIN RADIUS(IN MILES) OF CURRENT ADDRESS</label>
            <div class="col-sm-8">
              <input type="number" ng-model="profileObj.miles_radius" class="form-control">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>


  <div class="row" ng-show="requestType == 'search'">
    <div class="panel mb25 col-lg-6 col-sm-12" style="background: transparent;">
      <div class="panel-body" style="margin:0px 5px;background: #fff;">
          <div class="table-responsive">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-8" style="border-bottom:solid 1px;margin-bottom:10px;">
                      <label class="col-sm-3 control-label">KEYWORDS</label>
                      <label class="col-sm-3 control-label">YEARS</label>
                      <label class="col-sm-3 control-label">RECENT</label>
                      <label class="col-sm-3 control-label">ALTERNATE</label>
                    </div>

                    <div class="col-sm-8 pt20" ng-repeat="sSkill in searchSkills">
                        <div class="col-sm-4">
                          <input type="text" ng-model="sSkill.keyword" style="width:125px;"/>
                        </div>
                        <div class="col-sm-2" style="margin-left:10px;">
                          <input type="text" style="width:40px;" ng-model="sSkill.years"/>
                        </div>
                        <div class="col-sm-2" style="margin-left:24px;">
                          <input type="checkbox" ng-model="sSkill.recent">
                        </div>
                        <div class="col-sm-1" style="margin-left:16px;">
                          <button class="btn btn-primary btn-xs" >Alternate</button>
                        </div>
                    </div>

                    <div class="col-sm-8" style="margin-top:20px;">
                      <button class="btn btn-primary btn-xs" data-ng-click="addSkill()">New Skill</button>
                    </div>

                  </div>

                </form>
          </div>
      </div>
    </div>
    <div class="panel mb25 col-lg-6 col-sm-12" style="background: transparent;">
      <div class="panel-body" style="margin:0px 0px;background: #fff;">
          <div class="table-responsive">
            <form class="form-horizontal" role="form">
                <div class="panel"> 
                  <div class="panel-heading border btn-primary"> LOCATION </div> 
                  <div class="panel-body">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">STATE</label>
                        <div class="col-sm-8">
                          <input type="text" ng-model="search.state" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">CITY</label>
                        <div class="col-sm-8">
                          <input type="text" ng-model="search.city" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">ZIP</label>
                        <div class="col-sm-8">
                          <input type="number" ng-model="search.zip" class="form-control">
                        </div>
                      </div>
                  </div> 
                </div>
                <div class="panel"> 
                  <div class="panel-heading border btn-primary"> SALARY </div> 
                  <div class="panel-body">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">PAY RANGE</label>
                        <div class="col-sm-3">
                          <input type="number" ng-model="search.pay_range_min" class="form-control">
                        </div>

                        <div class="col-sm-3">
                          <input type="number" ng-model="search.pay_range_max" class="form-control">
                        </div>
                      </div>
                      
                  </div> 
                </div>
                <div class="col-sm-8 mb15">
                      <button class="btn btn-primary btn-xs right" data-ng-click="search()">Search</button>
                </div>
              </form>
          </div>
        </div>
    </div>
  </div>

 
<div class="panel-body" ng-show="requestType === 'search-results'">
      <table class="table table-bordered table-hover table-condensed align-middle">
        <tr class="bold">
          <td style="width:15%">Name</td>
          <td style="width:15%">PHONE</td>
          <td style="width:25%">EMAIL</td>
          <td style="width:15%">SALARY</td>
          <td style="width:15%">EXPERIENCE YRS</td>
          <td style="width:15%">CREATED ON</td>
        </tr>
        <tr ng-repeat="candidate in candidates">
          <td>
            <!-- editable username (text with validation) -->
            <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
              {{ candidate.first_name +' '+ candidate.last_name || 'empty' }}
            </span>
          </td>
          <td>
            <!-- editable status (select-local) -->
            <span editable-text="user.phone" e-name="phone" e-form="rowform">
              {{ candidate.phone_number }}
            </span>
          </td>
          <td>
            <!-- editable group (select-remote) -->
            <span editable-text="user.email" e-name="email" e-form="rowform">
              {{ candidate.email }}
            </span>
          </td>
          <td>
            <!-- editable group (select-remote) -->
            <span editable-text="user.salary" e-name="salary" e-form="rowform">
              {{ candidate.salary }}
            </span>
          </td>
          <td>
            <!-- editable group (select-remote) -->
            <span editable-text="user.experience" e-name="experience" e-form="rowform">
              {{ candidate.experience }}
            </span>
          </td>
          <td>
            <!-- editable group (select-remote) -->
            <span editable-text="user.createdOn" e-name="createdOn" e-form="rowform">
              {{ candidate.created_by }}
            </span>
          </td>
          
        </tr>
      </table>
    </div>
</div>

