<div class="modal-header">
	<h4>{{ title }}</h4>
</div>

<div class="panel mb25">
	<div class="panel-heading">
	  Select the job to assign
	</div>
	<div class="col-xs-12 mb25">
      	<select class="chosen ng-pristine ng-valid" ng-options="j.title for j in jobs" style="width: 100%;" 
      	ng-model="job">
      		<!-- <option value="0" selected="selected" label="Select an Opening">Select an Opening</option> -->
      	</select>
    </div>
</div>

<div class="modal-footer">
	<button ng-repeat="btn in buttons" ng-click="assignOpening(btn.result)" class="btn" ng-class="btn.cssClass">{{ btn.label }}</button>
</div>