<div class="brand">

  <!-- logo -->
  <div class="brand-logo logoText">
    <!-- <img data-ng-src="images/logo.png" height="15" alt=""> -->
    {{app.name}}
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>

<!-- main navigation -->
<nav role="navigation" side-navigation>

  <ul class="nav">

    <!-- dashboard -->
    <li ui-sref-active="activeTab" ng-if="user.role.id!=1">
      <a href="#/">
        <i class="fa fa-tachometer"></i>
        <span>DASHBOARD</span>
      </a>
    </li>
    <!-- /dashboard -->
    <li ui-sref-active="activeTab" ng-if="user.role.id==1">
      <a ui-sref="app.agencies">
        <i class="fa fa-user-plus"></i>
        <span>AGENCIES</span>
      </a>
    </li>

    <li ui-sref-active="activeTab" ng-if="user.role.id==2 || user.role.id==4 || user.role.id==5 ">
      <a ui-sref="app.openings">
        <i class="fa fa-flask"></i>
        <span>OPENINGS</span>
      </a>
    </li>
    <li ui-sref-active="activeTab" ng-if="user.role.id==2 || user.role.id==4">
      <a ui-sref="app.candidates">
        <i class="fa fa-user"></i>
        <span>CANDIDATES</span>
      </a>
    </li>
    <li ui-sref-active="activeTab" ng-if="user.role.id==2 || user.role.id==4">
      <a ui-sref="app.companies">
        <i class="fa fa-building-o"></i>
        <span>COMPANIES</span>
      </a>
    </li>
    <li ui-sref-active="activeTab" ng-if="user.role.id==2">
      <a ui-sref="app.users">
        <i class="fa fa-users"></i>
        <span>USERS</span>
      </a>
    </li>
  </ul>
</nav>
<!-- /main navigation -->
